table.headerTable{width: 600px; border-color: #002146; margin-bottom: 10px;}
table.patternTable{
float: left; width: 600px; border-bottom: solid; overflow: auto;
font-weight:300; border-color: #002146; border-spacing: 10px;}
h3{float: left;}
th {float: left;}
th.patternAttrHeader{padding-left: 10px;}
th.patternAttr{ padding-left: 30px; font-weight: 100;}
th.patternAttrName { font-size: 26; font-weight: 600;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}
normal { font-weight: 100; }